@using Microsoft.Net.Http.Headers

@{
    ViewData["Title"] = "NotFound";
}

<h2>NotFound</h2>
<p>You can return to <a href="@Context.Request.Headers[HeaderNames.Referer]">previous</a> or back to <a href="/">home</a>.</p>

