@model CoreDX.Domain.Entity.App.Sample.Domain

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Domain</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SampleColumn" class="control-label"></label>
                <input asp-for="SampleColumn" class="form-control" />
                <span asp-validation-for="SampleColumn" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
            </div>*@
            @*<div class="form-group">
                <label asp-for="CreationTime" class="control-label"></label>
                <input asp-for="CreationTime" class="form-control" />
                <span asp-validation-for="CreationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModificationTime" class="control-label"></label>
                <input asp-for="LastModificationTime" class="form-control" />
                <span asp-validation-for="LastModificationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorId" class="control-label"></label>
                <select asp-for="CreatorId" class ="form-control" asp-items="ViewBag.CreatorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LastModificationUserId" class="control-label"></label>
                <select asp-for="LastModificationUserId" class ="form-control" asp-items="ViewBag.LastModificationUserId"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
