@page
@{
    ViewData["Title"] = "ABPlayer";
}

<h2>ABPlayer</h2>

<div class="row">
    <div class="col-md-12">
        <p>请在 wwwroot/videos 文件夹中放入名为 1.mp4 的视频文件。</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="load-player"></div>
        <video id="video-1" autobuffer="true" data-setup="{}" width="800" height="450">
            <source src="/videos/1.mp4" type="video/mp4">
            <p>Your browser does not support html5 video!</p>
        </video>
    </div>
</div>
@section Styles
{
    @*<partial name="_CommentCoreLibraryStylesPartial" />*@
    <link href="~/library/ABPlayerHTML5/css/base.css" rel="stylesheet" />
}

@section Scripts
{
    @*<partial name="_CommentCoreLibraryScriptsPartial" />*@
    <script src="~/library/ABPlayerHTML5/vendor/CommentCoreLibrary.min.js"></script>
    <script src="~/library/ABPlayerHTML5/ABPlayerHTML5.js"></script>
    <script>
        var video = document.getElementById("video-1");
        var inst = ABP.create(document.getElementById('load-player'), {
            'src': {
                "playlist": [
                    {
                        "video": video,
                        "comments": "/danmaku/hanabi.xml"
                    }
                ]
            },
            'width': 800,
            'height': 522
        });
    </script>
}
