@page
@using IdentityServer.Pages.FluentValidationDemo
@using System.ComponentModel.DataAnnotations
@model IdentityServer.Pages.FluentValidationDemo.IndexModel
@{
    ViewData["Title"] = "FluentValidationDemo";
}
@section Styles {
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.B.C"></label>
                <input asp-for="Input.B.C" class="form-control" />
                <span asp-validation-for="Input.B.C" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Dp.E"></label>
                <input asp-for="Input.Dp.E" class="form-control" />
                <span asp-validation-for="Input.Dp.E" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.S"></label>
                <input asp-for="Input.S" class="form-control" />
                <span asp-validation-for="Input.S" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.T"></label>
                <input asp-for="Input.T" class="form-control" />
                <span asp-validation-for="Input.T" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}