@inherits LayoutComponentBase
@using BlazorApp.Client.Models
@inject UserInfo userInfo
@inject HttpClient Http

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @if (userInfo.Name == string.Empty)
        {
            <a href="javascript:login();" class="ml-md-auto">Login</a>
        }
        else
        {
            <span class="ml-md-auto">
                <a href="/Identity/Account/Manage">Hi! @userInfo.Name</a>
                <a href="javascript:logout();">Logout</a>
            </span>
        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (userInfo.Name == string.Empty)
        {
            var res = await Http.GetAsync("/api/blazor/UserName");

            if (res.IsSuccessStatusCode)
            {
                userInfo.Name = await res.Content.ReadAsStringAsync();
            }
        }
    }
}
