<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Please take our
        <a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2116045">brief survey</a>
    </span>
    and tell us what you think.
</div>

<div class="alert alert-secondary mt-4" role="alert">
    <span class="text-nowrap">
        <a href="http://blazor.net" target="_blank" class="font-weight-bold">About Blazor</a>
    </span>
</div>

<div class="alert alert-secondary mt-4" role="alert">
    <span class="text-nowrap">
        <a class="font-weight-bold" href="/">回到主页</a>
    </span>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
