@page
@model IdentityServer.Pages.TreeDomainDemo.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>TreeDomain</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TreeDomain.SampleColumn" class="control-label"></label>
                <input asp-for="TreeDomain.SampleColumn" class="form-control" />
                <span asp-validation-for="TreeDomain.SampleColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreeDomain.ParentId" class="control-label"></label>
                <select asp-for="TreeDomain.ParentId" class="form-control" asp-items="ViewBag.ParentId">
                    <option value="">--</option>
                </select>
                <span asp-validation-for="TreeDomain.ParentId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="TreeDomain.Id" />
            <input type="hidden" asp-for="TreeDomain.CreatorId" />
            <input type="hidden" asp-for="TreeDomain.CreationTime" />
            @*<input type="hidden" asp-for="TreeDomain.RowVersion" />*@
            @*<div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="TreeDomain.IsDeleted" /> @Html.DisplayNameFor(model => model.TreeDomain.IsDeleted)
                    </label>
                </div>
            </div>*@
            @*<div class="form-group">
                <label asp-for="TreeDomain.CreationTime" class="control-label"></label>
                <input asp-for="TreeDomain.CreationTime" class="form-control" />
                <span asp-validation-for="TreeDomain.CreationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreeDomain.LastModificationTime" class="control-label"></label>
                <input asp-for="TreeDomain.LastModificationTime" class="form-control" />
                <span asp-validation-for="TreeDomain.LastModificationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreeDomain.CreatorId" class="control-label"></label>
                <select asp-for="TreeDomain.CreatorId" class="form-control" asp-items="ViewBag.CreatorId"></select>
                <span asp-validation-for="TreeDomain.CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreeDomain.LastModificationUserId" class="control-label"></label>
                <select asp-for="TreeDomain.LastModificationUserId" class="form-control" asp-items="ViewBag.LastModificationUserId"></select>
                <span asp-validation-for="TreeDomain.LastModificationUserId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
