@page
@model IdentityServer.Pages.TreeDomainDemo.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>TreeDomain</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TreeDomain.SampleColumn" class="control-label"></label>
                <input asp-for="TreeDomain.SampleColumn" class="form-control" />
                <span asp-validation-for="TreeDomain.SampleColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreeDomain.Parent" class="control-label"></label>
                <select asp-for="TreeDomain.ParentId" class="form-control" asp-items="ViewBag.Parent">
                    <option value="">--</option>
                </select>
            </div>
            @*<div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="TreeDomain.IsDeleted" /> @Html.DisplayNameFor(model => model.TreeDomain.IsDeleted)
                    </label>
                </div>
            </div>*@
            @*<div class="form-group">
                <label asp-for="TreeDomain.LastModificationTime" class="control-label"></label>
                <input asp-for="TreeDomain.LastModificationTime" class="form-control" />
                <span asp-validation-for="TreeDomain.LastModificationTime" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="TreeDomain.CreationUserId" class="control-label"></label>
                <select asp-for="TreeDomain.CreationUserId" class ="form-control" asp-items="ViewBag.CreationUserId"></select>
            </div>*@
            @*<div class="form-group">
                <label asp-for="TreeDomain.LastModificationUserId" class="control-label"></label>
                <select asp-for="TreeDomain.LastModificationUserId" class ="form-control" asp-items="ViewBag.LastModificationUserId"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
