@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" role="alert" style="background-color: lightgray">
        @*<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cookieConsent .navbar-collapse">
                <span class="sr-only">Toggle cookie consent banner</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>
        </div>*@
        <p class="navbar-text">
            同意使用cookie记录信息。
        </p>
        <a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Learn More</a>
        <button type="button" class="btn btn-default" data-cookie-string="@cookieString">Accept</button>
    </div>
    <script>
        (function() {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click",
                function(el) {
                    var dt = new Date();
                    dt.setSeconds(dt.getSeconds() + 60);
                    document.cookie = "cookietest=1; expires=" + dt.toGMTString();
                    var cookiesEnabled = document.cookie.indexOf("cookietest=") !== -1;
                    if (cookiesEnabled) {
                        var btn = el.target;
                        while (btn.tagName !== 'BUTTON') {
                            btn = btn.parentNode;
                        }
                        document.cookie = btn.dataset.cookieString;
                    } else {
                        var xhr = new XMLHttpRequest();
                        xhr.open("GET", '/Home/ConsentCookie');
                        xhr.onload = function () {
                            log(xhr.status, JSON.parse(xhr.responseText));
                            log(document.cookie);
                        };
                        xhr.send();
                    }
                    var node = document.getElementById("cookieConsent")
                    node.parentNode.removeChild(node);
                },
                false);
        })();
    </script>
}