@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="" asp-controller="Home" asp-action="UserInfo">Hello @User.Claims?.Single(c=>c.Type == "name")?.Value!</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Home" asp-action="Login">Login</a></li>
    </ul>
}
