@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Manage Identity Users</h2>

<div>
    <h4>Change identity user's settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Styles {
    @RenderSection("Styles", required: false)
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}
