@page
@{
    ViewData["Title"] = "Html 5 Flv Danmaku Player";
}

@section Styles
{
    <partial name="_CommentCoreLibraryStylesPartial" />
    <link href="~/library/ABPlayerHTML5/css/base.css" rel="stylesheet" />
    <partial name="_VideoJsStylesPartial" />
}

<h2>Html 5 Flv Danmaku Player</h2>

<div class="row">
    <div class="col-md-12">
        @*想看ABPlayer的注意*@
        @*<p>请在 wwwroot/videos 文件夹中放入名为 1.mp4 的视频文件。</p>
        <p>请在 node_modules/comment-core-library/dist/css/style.css 文件中将 .container 替换为 .abp-container 避免与bootstrap的css冲突。</p>*@
        <p>不依赖 flash，直接使用 html 5 播放 flv 视频，并使 video.js 支持 CCL 弹幕。</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @*<div id="video-js-danmaku" class="abp">
            <div id="video-js-danmaku-stage" class="abp-container" style="pointer-events: none;"></div>
        </div>*@
        <video id="videojs-flvjs-player" preload="metadata" class="video-js vjs-default-skin" style="width: 100%;" poster="/videos/1.png" controls>
            <source src="/videos/1.flv" type='video/x-flv'>
        </video>
    </div>
</div>
@*ABPlayer不好做自适应宽高，不好排版，想看的取消注释代码*@
@*<div class="row">
        <div class="col-md-12">
            <div id="load-player"></div>
            <video id="video-1" preload="metadata" data-setup="{}" width="800" height="450">
                <source src="/videos/1.mp4" type="video/mp4">
                <p>Your browser does not support html5 video!</p>
            </video>
        </div>
    </div>*@

@section Scripts
{
    <partial name="_CommentCoreLibraryScriptsPartial" />
    <partial name="_VideoJsScriptsPartial" />
    <partial name="_VideoJsDanmakuScriptsPartial" />
    <script>
        var videoFlvJs = videojs('videojs-flvjs-player', {
            //flvjs: {
            //    mediaDataSource: {
            //        isLive: true,
            //        cors: true,
            //        withCredentials: false,
            //    },
            // config: {},
            playbackRates: [0.25, 0.5, 0.75, 1, 1.25, 1.5, 1.75, 2],
            userActions: {
                doubleClick: true,
            },
            fluid: true,
            aspectRatio: '16:9',
        },
            function onPlayerReady() {

            }
        );

        var provider = new CommentProvider();
        // 添加一个静态弹幕源（只加载一次）
        provider.addStaticSource(CommentProvider.XMLProvider('GET', '/danmaku/hanabi.xml'), CommentProvider.SOURCE_XML);
        // 添加一个解析器
        provider.addParser(new BilibiliFormat.XMLParser(), CommentProvider.SOURCE_XML);
        // 向播放器实例添加弹幕组件
        videoFlvJs.addChild('Danmaku', {
            commentManager: new CommentManager({offsetWidth: 0, offsetHeight: 0}),
            commentProviders: [
                provider,
            ]
        });
    </script>

@*ABPlayer的js部分*@
    @*<script src="~/library/ABPlayerHTML5/ABPlayerHTML5.js"></script>
    <script>
        var video = document.getElementById("video-1");
        var inst = ABP.create(document.getElementById('load-player'), {
            'src': {
                "playlist": [
                    {
                        "video": video,
                        "comments": "/danmaku/hanabi.xml"
                    }
                ]
            },
            'width': 800,
            'height': 522
        });
    </script>*@
}
